<div class="header">
  <div class="menu">
        <ul>
          <li>About</li>
          <li>Projects</li>
          <li>Connect</a></li>
          <li>Contact</a></li>
        </ul>
          <div class="name">
            <h1> Mary Schroth </h1>
          </div>
      </div>
</div>

<div class="main">
  <div class="jumbotron">
    <div class="container">
      <h6>Experience in React/Redux, JavaScript, and Ruby on Rails based programming with a background in Creative Art Therapy. Possess strong skills in problem solving and attention to detail that help mission driven companies think critically and creatively about issues big and small. With extensive experience working with diverse communities in the U.S. and internationally, I value unique approaches to solutions and diverse perspectives across teams.</h6>
      <a class="btn btn-primary" href="#">View My Work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="connect">
      <li>
        <div class="github">
          <a href="#">GitHub</a>
        </div>
      </li>
      <li>
        <div class="linkedin">
          <a href="#">LinkedIn</a>
        </div>
      </li>
      
    </ul>
    <p>&copy; 2022 Mary Schroth </p>
  </div>
</div>